<div class='cat'>
    <h1>My Name is <%= @name %></h1>
    <img style='border: 10px dotted red;' src='https://metrouk2.files.wordpress.com/2015/10/cat-dressed-as-a-pirate-just-won-halloween.png'>
</div>
